##Explorando os Dados com Pandas

In [ ]:

# importando a biblioteca
import pandas as pd

#  series sao dados unidimensionais (com apenas colunas ou linhas)
s = pd.Series([1,2,3,4,5])

s


# com type voce pode ver o tipo de dado que esta manuzeando
type(s)

In [ ]:

# com a funcao DataFrame podemos criar tabelas com linhas e colunas
pessoas = pd.DataFrame(
  {
      'nome':['Gean','Marcos'],
      'Idade':[22,40]
  }

)
pessoas

In [ ]:

# lendo dados com read_csv
df = pd.read_csv('insurance.csv')

# o head serve para ver as primeiras 5 linhas e vc pode definir a qtde de linhas que quer ver
df.head(10)
# o tail serve para ver as ultimas 5 linhas
df.tail()
# descreve as colunas que temos no dataframe
df.columns
# conta linhas e colunas e retorna a qtde das duas
df.shape
# apresenta informacoes gerais de um dataframe
df.info()

##Acessando Dados

In [ ]:
# acessando dados de uma coluna especifica
df['age'].head()


# puxando varias colunas de uma vez
# para isso passamos uma lista de colunas dentro dos colchetes
# df[['age','bmi','charges']].head()


# com o loc nos puxamos a posicao/indice de uma linha
# mas como o loc funciona com rotulos no segundo parametro
# voce pode passar colunas dentro dos colchetes pra puxar as colunas tambem
# df.loc[0:10,['age','bmi','charges']]

df.head()

## Exercicios

In [ ]:
from os import fchdir
# Contando as pessoas com filhos
contagem = 0
for c in df['children']:
  if c > 0:
    contagem += 1
print(contagem)

# selecionando as linhas 100 a 120

df.loc[100:120,['age','bmi','charges']]

## Importando dados e transformando em CSV

In [ ]:

import pandas as pd


# importando um arquivo tsv (Separado por tabulacao) passando o sep=\t
# df = pd.read_csv('./datasets/2004-2021.tsv', sep='\t')

df = pd.read_csv('2004-2021.tsv', sep='\t')

# df

df.head()

# df.to_csv('2004-2021.csv', index=False)

# df = pd.read_csv('./datasets/2004-2021.csv')
# df
df.info()

## Criando um dataframe de personagens de Star Wars

In [ ]:
personagens_df = pd.DataFrame({
     'nome':['Luke Skywalker','Yoda','Palpatine'],
     'idade':[20,1000,70],
     'peso':[60.1,15.2,70.5],
     'é jedi?':[True,True,False]
    })
personagens_df.info()
personagens_df.columns

Renomeando Colunas de um DataFrame com DataFrame.rename(columns)

In [ ]:
# Para renomear uma coluna de um df voce pode usar DataFrame.rename
# que cria uma copia com as colunas renomeadas
# temos que passar o atributo columns para renomear uma coluna
personagens_df_renomeado = personagens_df.rename(columns={
      'nome': 'Nome Completo',
      'idade': 'Idade'})
personagens_df_renomeado

Para renomear o DF original precisamos passar o parametro `inplace=True`

In [ ]:
personagens_df.rename(columns={
    'nome':'Nome Completo',
    'idade':'Idade'
},inplace=True)

personagens_df

    Nome Completo  Idade  peso  é jedi?
0  Luke Skywalker     20  60.1     True
1            Yoda   1000  15.2     True
2       Palpatine     70  70.5    False

Tambem podemos renomear todas as colunas de um DF é utilizar o atributo `DataFrame.columns `passando uma lista com os novos nomes

In [ ]:

personagens_df.columns = ['NOME','IDADE','PESO','É JEDI']
personagens_df

             NOME  IDADE  PESO  É JEDI
0  Luke Skywalker     20  60.1    True
1            Yoda   1000  15.2    True
2       Palpatine     70  70.5   False

In [ ]:
df.head()

NameError: name 'df' is not defined