##Explorando os Dados com Pandas

In [ ]:

# importando a biblioteca
import pandas as pd

#  series sao dados unidimensionais (com apenas colunas ou linhas)
s = pd.Series([1,2,3,4,5])

s


# com type voce pode ver o tipo de dado que esta manuzeando
type(s)

In [ ]:

# com a funcao DataFrame podemos criar tabelas com linhas e colunas
pessoas = pd.DataFrame(
  {
      'nome':['Gean','Marcos'],
      'Idade':[22,40]
  }

)
pessoas

In [ ]:

# lendo dados com read_csv
df = pd.read_csv('insurance.csv')

# o head serve para ver as primeiras 5 linhas e vc pode definir a qtde de linhas que quer ver
df.head(10)
# o tail serve para ver as ultimas 5 linhas
df.tail()
# descreve as colunas que temos no dataframe
df.columns
# conta linhas e colunas e retorna a qtde das duas
df.shape
# apresenta informacoes gerais de um dataframe
df.info()

##Acessando Dados

In [29]:
# acessando dados de uma coluna especifica
df['age'].head()


# puxando varias colunas de uma vez
# para isso passamos uma lista de colunas dentro dos colchetes
# df[['age','bmi','charges']].head()


# com o loc nos puxamos a posicao/indice de uma linha
# mas como o loc funciona com rotulos no segundo parametro
# voce pode passar colunas dentro dos colchetes pra puxar as colunas tambem
# df.loc[0:10,['age','bmi','charges']]

df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Exercicios

In [34]:
from os import fchdir
# Contando as pessoas com filhos
contagem = 0
for c in df['children']:
  if c > 0:
    contagem += 1
print(contagem)

# selecionando as linhas 100 a 120

df.loc[100:120,['age','bmi','charges']]

764
240968
477932

175