In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2004-2021.tsv', sep='\t')
df

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# adicionando coluna com valor default
df['Coluna sem nocao'] = 'DEFAULT'
df

# adicionando coluna a partir de lista
df['Coluna a partir de lista'] = range(df.shape[0])
df

# adicionando coluna com base em operacao em outra coluna
df['preco medio revenda (dolar)'] = df['PREÇO MÉDIO REVENDA'] * 6
df

In [5]:
# transformando indice em lista de str e iterando sobre ela

pesquisa_de_satisfacao = pd.DataFrame({

    'Bom':[50,21,100],
    'Ruim': [131,2,30],
    'pessimo':[30,20,1]
},index=['XboxOne','PS4','Nintendo Switch'])

pesquisa_de_satisfacao.index

lista = list(pesquisa_de_satisfacao.index)

for console in lista:
    print(console)

XboxOne
PS4
Nintendo Switch

# Filtrando Dados

In [ ]:
# selecionando linha pelo indice de 0 a 5
df.iloc[0:6]
# selecionando linha pelo indice de 10 a 15
df.iloc[10:16]

# selecionando as linhas de indice 1,5,10,15
df.iloc[[1,5,10,15]]

# selecionando as linhas de indice 5,1,15,10
df.iloc[[5,1,15,10]]

# selecioando linhas e colunas especificas
df.iloc[0:6, 0:6] # linha 1, coluna 4

df.iloc[[0,6], [0,6]]

In [6]:
# selecionando linhas e colunas com rotulos
pesquisa_de_satisfacao.loc['XboxOne']

# selecionando uma lista de linhas e colunas especificas com rotulos
pesquisa_de_satisfacao.loc[['Nintendo Switch','XboxOne'],['Bom','Ruim','pessimo']]

# selecionando todas as linhas e colunas especificas com rotulos
pesquisa_de_satisfacao.loc[:,['Bom','pessimo']]

                 Bom  pessimo
XboxOne           50       30
PS4               21       20
Nintendo Switch  100        1

In [7]:
# a forma de acesso de colunas por .NOME_DA_COLUNA do funciona se
# o nome da coluna nao tiver espacos ou caracteres especiais (espacos,-, cedilha, acentos , etc)
df.ESTADO

# df.DATA INICIAL nao funciona por causa do espaco


# para colunas que possuem espacos ou caracteres especiais, devemos usar o formato de colchetes
df['DATA INICIAL']

#

df[['DATA INICIAL','ESTADO','REGIÃO']]

       DATA INICIAL              ESTADO        REGIÃO
0        2004-05-09    DISTRITO FEDERAL  CENTRO OESTE
1        2004-05-09               GOIAS  CENTRO OESTE
2        2004-05-09         MATO GROSSO  CENTRO OESTE
3        2004-05-09  MATO GROSSO DO SUL  CENTRO OESTE
4        2004-05-09             ALAGOAS      NORDESTE
...             ...                 ...           ...
120818   2021-04-25             RORAIMA         NORTE
120819   2021-04-25      SANTA CATARINA           SUL
120820   2021-04-25           SAO PAULO       SUDESTE
120821   2021-04-25             SERGIPE      NORDESTE
120822   2021-04-25           TOCANTINS         NORTE

[120823 rows x 3 columns]

In [ ]:
# # deleta/remove uma coluna in place (no proprio dataframe) a coluna de nome 'Unnamed: 0'

# df['COLUNA SEM NOCÃO'] = 'DEFAULT'
# # coluna a partir de lista
# df['# coluna a partir de lista'] = range(len(df))

# df['PRECO MEDIO DE REVENDA (DOLAR)'] = df['PREÇO MÉDIO REVENDA'] * 6

# df['Unnamed: 0'] = range(df.shape[0])

# df



# del df['Unnamed: 0']
# del df['COLUNA SEM NOCÃO']
# del df['# coluna a partir de lista']
# del df['PRECO MEDIO DE REVENDA (DOLAR)']

# df

# df.to_csv('/content/drive/MyDrive/Colab dados_limpos_de_preco_gas.csv', index=False)

In [14]:
data = pd.read_csv('/content/drive/MyDrive/Colab dados_limpos_de_preco_gas.csv')
data

# mostra os valores unicos presentes na coluna de estado
data['ESTADO'].unique()

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

In [28]:
# faz uma comparacao elemento a elemento de uma series, retornando uma series de booleans
selecao_SP = data['ESTADO'] == 'SAO PAULO'
data[selecao_SP]

dados_de_sp = data[data['ESTADO'] == 'SAO PAULO']
dados_de_sp

data.loc[data['ESTADO'] == 'SAO PAULO']

# ainda nao foi alterado pois precisamos passar o parametro inplace=true
postos_sp = data.query('ESTADO == "SAO PAULO"')
postos_sp.reset_index(drop=True)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
1,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
2,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
3,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
4,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4815,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999.0,0.062,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4816,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999.0,0.090,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4817,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4818,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [ ]:
postos_sp = data.query('ESTADO == "SAO PAULO"').reset_index(drop=True)
postos_sp

Filtrando dados com condicoes especificas

In [74]:
data['ESTADO'] == 'RIO DE JANEIRO'


postos_rj = data[data['ESTADO'] == 'RIO DE JANEIRO']
postos_rj[postos_rj['PREÇO MÉDIO REVENDA'] > 2]

# sp_rj = data[((data['ESTADO'] == 'RIO DE JANEIRO') | (data['ESTADO'] == 'SAO PAULO')) & (data['PREÇO MÉDIO REVENDA'] > 2) & (sp_rj['PRODUTO'] == 'ETANOL HIDRATADO')].reset_index(drop=True)


sp_rj = data[(data['ESTADO']=='RIO DE JANEIRO') | (data['ESTADO'] == 'SAO PAULO')].reset_index(drop=True)
sp_rj

sp_rj_media_revenda_maior_2 = sp_rj[sp_rj['PREÇO MÉDIO REVENDA']> 2].reset_index(drop=True)

sp_rj_media_revenda_maior_2_por_produto = sp_rj_media_revenda_maior_2[sp_rj_media_revenda_maior_2['PRODUTO'] == 'ETANOL HIDRATADO']
sp_rj_media_revenda_maior_2_por_produto



# sp_rj[(sp_rj['PREÇO MÉDIO REVENDA']>2) & (sp_rj['PRODUTO'] == 'ETANOL HIDRATADO')]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2006-02-26,2006-03-04,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,881,R$/l,2.028,0.148,1.589,2.550,0.222,0.073,1.806,0.11,1.31,2.1358,0.061
1,2006-03-05,2006-03-11,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,889,R$/l,2.125,0.149,1.779,2.550,0.286,0.070,1.839,0.117,1.438,2.2801,0.064
2,2006-03-12,2006-03-18,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,902,R$/l,2.163,0.138,1.799,2.599,0.268,0.064,1.895,0.134,1.43,2.3454,0.071
3,2006-03-19,2006-03-25,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,898,R$/l,2.166,0.146,1.760,2.568,0.231,0.067,1.935,0.14,1.438,2.2925,0.072
4,2006-03-26,2006-04-01,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,890,R$/l,2.172,0.143,1.789,2.550,0.209,0.066,1.963,0.133,1.438,2.2513,0.068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6852,2021-04-11,2021-04-17,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1062,R$/l,3.540,0.198,3.077,4.599,-99999.0,0.056,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
6865,2021-04-18,2021-04-24,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,238,R$/l,4.768,0.332,4.296,5.699,-99999.0,0.070,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
6866,2021-04-18,2021-04-24,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1078,R$/l,3.587,0.183,2.379,4.699,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
6879,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,196,R$/l,4.845,0.330,4.199,5.899,-99999.0,0.068,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
6880,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1183,R$/l,3.694,0.168,3.249,4.899,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0