In [3]:
import pandas as pd

df = pd.read_csv('2004-2021.tsv', sep='\t')
df

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [ ]:
# adicionando coluna com valor default
df['Coluna sem nocao'] = 'DEFAULT'
df

# adicionando coluna a partir de lista
df['Coluna a partir de lista'] = range(df.shape[0])
df

# adicionando coluna com base em operacao em outra coluna
df['preco medio revenda (dolar)'] = df['PREÇO MÉDIO REVENDA'] * 6
df

In [ ]:
# transformando indice em lista de str e iterando sobre ela

pesquisa_de_satisfacao = pd.DataFrame({
    
    'Bom':[50,21,100],
    'Ruim': [131,2,30],
    'pessimo':[30,20,1]
},index=['XboxOne','PS4','Nintendo Switch'])

pesquisa_de_satisfacao.index

lista = list(pesquisa_de_satisfacao.index)

for console in lista:
    print(console)

In [ ]:
# selecionando linha pelo indice de 0 a 5 
df.iloc[0:6]
# selecionando linha pelo indice de 10 a 15
df.iloc[10:16]

# selecionando as linhas de indice 1,5,10,15
df.iloc[[1,5,10,15]]

# selecionando as linhas de indice 5,1,15,10
df.iloc[[5,1,15,10]]

# selecioando linhas e colunas especificas
df.iloc[0:6, 0:6] # linha 1, coluna 4

df.iloc[[0,6], [0,6]]

In [ ]:
# selecionando linhas e colunas com rotulos
pesquisa_de_satisfacao.loc['XboxOne']

# selecionando uma lista de linhas e colunas especificas com rotulos
pesquisa_de_satisfacao.loc[['Nintendo Switch','XboxOne'],['Bom','Ruim','pessimo']]

# selecionando todas as linhas e colunas especificas com rotulos
pesquisa_de_satisfacao.loc[:,['Bom','pessimo']]

                 Bom  pessimo
XboxOne           50       30
PS4               21       20
Nintendo Switch  100        1

In [32]:
# a forma de acesso de colunas por .NOME_DA_COLUNA do funciona se 
# o nome da coluna nao tiver espacos ou caracteres especiais (espacos,-, cedilha, acentos , etc)
df.ESTADO

# df.DATA INICIAL nao funciona por causa do espaco


# para colunas que possuem espacos ou caracteres especiais, devemos usar o formato de colchetes
df['DATA INICIAL']

# 

df[['DATA INICIAL','ESTADO','REGIÃO']]

       DATA INICIAL              ESTADO        REGIÃO
0        2004-05-09    DISTRITO FEDERAL  CENTRO OESTE
1        2004-05-09               GOIAS  CENTRO OESTE
2        2004-05-09         MATO GROSSO  CENTRO OESTE
3        2004-05-09  MATO GROSSO DO SUL  CENTRO OESTE
4        2004-05-09             ALAGOAS      NORDESTE
...             ...                 ...           ...
120818   2021-04-25             RORAIMA         NORTE
120819   2021-04-25      SANTA CATARINA           SUL
120820   2021-04-25           SAO PAULO       SUDESTE
120821   2021-04-25             SERGIPE      NORDESTE
120822   2021-04-25           TOCANTINS         NORTE

[120823 rows x 3 columns]

In [44]:
# # deleta/remove uma coluna in place (no proprio dataframe) a coluna de nome 'Unnamed: 0'

# df['COLUNA SEM NOCÃO'] = 'DEFAULT'
# # coluna a partir de lista
# df['# coluna a partir de lista'] = range(len(df))

# df['PRECO MEDIO DE REVENDA (DOLAR)'] = df['PREÇO MÉDIO REVENDA'] * 6    

# df['Unnamed: 0'] = range(df.shape[0])

# df



# del df['Unnamed: 0']
# del df['COLUNA SEM NOCÃO']
# del df['# coluna a partir de lista']
# del df['PRECO MEDIO DE REVENDA (DOLAR)']

df

df.to_csv('./datasets/dados_limpos_de_preco_gas.csv', index=False)