##Explorando os Dados com Pandas

In [1]:

# importando a biblioteca
import pandas as pd

#  series sao dados unidimensionais (com apenas colunas ou linhas)
s = pd.Series([1,2,3,4,5])

s


# com type voce pode ver o tipo de dado que esta manuzeando
type(s)

pandas.core.series.Series

In [2]:

# com a funcao DataFrame podemos criar tabelas com linhas e colunas
pessoas = pd.DataFrame(
  {
      'nome':['Gean','Marcos'],
      'Idade':[22,40]
  }

)
pessoas

     nome  Idade
0    Gean     22
1  Marcos     40

In [3]:

# # lendo dados com read_csv
# df = pd.read_csv('insurance.csv')

# # o head serve para ver as primeiras 5 linhas e vc pode definir a qtde de linhas que quer ver
# df.head(10)
# # o tail serve para ver as ultimas 5 linhas
# df.tail()
# # descreve as colunas que temos no dataframe
# df.columns
# # conta linhas e colunas e retorna a qtde das duas
# df.shape
# # apresenta informacoes gerais de um dataframe
# df.info()

##Acessando Dados

In [4]:
# acessando dados de uma coluna especifica
# df['age'].head()


# # puxando varias colunas de uma vez
# # para isso passamos uma lista de colunas dentro dos colchetes
# # df[['age','bmi','charges']].head()


# # com o loc nos puxamos a posicao/indice de uma linha
# # mas como o loc funciona com rotulos no segundo parametro
# # voce pode passar colunas dentro dos colchetes pra puxar as colunas tambem
# # df.loc[0:10,['age','bmi','charges']]

# df.head()

## Exercicios

In [5]:
# from os import fchdir
# # Contando as pessoas com filhos
# contagem = 0
# for c in df['children']:
#   if c > 0:
#     contagem += 1
# print(contagem)

# # selecionando as linhas 100 a 120

# df.loc[100:120,['age','bmi','charges']]

## Importando dados e transformando em CSV

In [6]:

import pandas as pd


# importando um arquivo tsv (Separado por tabulacao) passando o sep=\t
df = pd.read_csv('./Datas/2004-2021.tsv', sep='\t')


# df

df.head()

# df.to_csv('2004-2021.csv', index=False)

# df = pd.read_csv('./datasets/2004-2021.csv')
# df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 11.1+ MB

## Criando um dataframe de personagens de Star Wars

In [7]:
personagens_df = pd.DataFrame({
     'nome':['Luke Skywalker','Yoda','Palpatine'],
     'idade':[20,1000,70],
     'peso':[60.1,15.2,70.5],
     'é jedi?':[True,True,False]
    })
personagens_df.info()
personagens_df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nome     3 non-null      object
 1   idade    3 non-null      int64
 2   peso     3 non-null      float64
 3   é jedi?  3 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 135.0+ bytes

Index(['nome', 'idade', 'peso', 'é jedi?'], dtype='object')

Renomeando Colunas de um DataFrame com DataFrame.rename(columns)

In [8]:
# Para renomear uma coluna de um df voce pode usar DataFrame.rename
# que cria uma copia com as colunas renomeadas
# temos que passar o atributo columns para renomear uma coluna
personagens_df_renomeado = personagens_df.rename(columns={
      'nome': 'Nome Completo',
      'idade': 'Idade'})
personagens_df_renomeado

    Nome Completo  Idade  peso  é jedi?
0  Luke Skywalker     20  60.1     True
1            Yoda   1000  15.2     True
2       Palpatine     70  70.5    False

Para renomear o DF original precisamos passar o parametro `inplace=True`

In [9]:
personagens_df.rename(columns={
    'nome':'Nome Completo',
    'idade':'Idade'
},inplace=True)

personagens_df

    Nome Completo  Idade  peso  é jedi?
0  Luke Skywalker     20  60.1     True
1            Yoda   1000  15.2     True
2       Palpatine     70  70.5    False

Tambem podemos renomear todas as colunas de um DF é utilizar o atributo `DataFrame.columns `passando uma lista com os novos nomes

In [10]:

personagens_df.columns = ['NOME','IDADE','PESO','É JEDI']
personagens_df

             NOME  IDADE  PESO  É JEDI
0  Luke Skywalker     20  60.1    True
1            Yoda   1000  15.2    True
2       Palpatine     70  70.5   False

In [11]:
# Seleciona uma coluna inteira

df['ESTADO']

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [12]:
# Selecioando uma coluna inteira 
# esta forma de acesso, so funciona para colunas com nomes sem espacos, acentos, etc( caracteres especiais ) 

df.ESTADO

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [13]:
type(df['ESTADO'])

pandas.core.series.Series

In [14]:
df.iloc[1]

DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                               CENTRO OESTE
ESTADO                                      GOIAS
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  387
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.162
DESVIO PADRÃO REVENDA                       0.114
PREÇO MÍNIMO REVENDA                         0.89
PREÇO MÁXIMO REVENDA                        1.449
MARGEM MÉDIA REVENDA                        0.399
COEF DE VARIAÇÃO REVENDA                    0.098
PREÇO MÉDIO DISTRIBUIÇÃO                    0.763
DESVIO PADRÃO DISTRIBUIÇÃO                  0.088
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5013
PREÇO MÁXIMO DISTRIBUIÇÃO                    1.05
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.115
Name: 1, dtype: object

In [15]:
type(df.iloc[1])

pandas.core.series.Series

In [16]:
pd.Series([5.0,7.0,10.0], index=['prova 1','prova 2', 'prova 3'], name='Provas do Geanzin mil grau')

prova 1     5.0
prova 2     7.0
prova 3    10.0
Name: Provas do Geanzin mil grau, dtype: float64

In [17]:
# A series retornada referente a coluna,NAO É UMA COPIA, mas sim, uma referencia/view a coluna do dataframe
produto_view = df['PRODUTO']

In [18]:
# agora com o metodo .copy estamos copiando a coluna produto para a variavel 'bkp_produto_view'
bkp_produto_view = df['PRODUTO'].copy()
bkp_produto_view

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
120818     OLEO DIESEL S10
120819     OLEO DIESEL S10
120820     OLEO DIESEL S10
120821     OLEO DIESEL S10
120822     OLEO DIESEL S10
Name: PRODUTO, Length: 120823, dtype: object

In [19]:
# atribuindo o valor constante 'combustivel' para cada linha da variavel/coluna PRODUTO

df['PRODUTO'] = 'Combustivel'

In [20]:
df

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Combustivel,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Combustivel,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Combustivel,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Combustivel,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,Combustivel,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,Combustivel,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,Combustivel,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,Combustivel,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,Combustivel,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,Combustivel,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [21]:
df['PRODUTO']

0         Combustivel
1         Combustivel
2         Combustivel
3         Combustivel
4         Combustivel
             ...
120818    Combustivel
120819    Combustivel
120820    Combustivel
120821    Combustivel
120822    Combustivel
Name: PRODUTO, Length: 120823, dtype: object

In [22]:
type(bkp_produto_view)

pandas.core.series.Series

In [23]:

df['PRODUTO'] = [f'PRODUTO {l}' for l in range(len(df['PRODUTO'])) ]

In [24]:
df

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,PRODUTO 0,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,PRODUTO 1,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,PRODUTO 2,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,PRODUTO 3,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,PRODUTO 4,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,PRODUTO 120818,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,PRODUTO 120819,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,PRODUTO 120820,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,PRODUTO 120821,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,PRODUTO 120822,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [25]:
df['PRODUTO'] = bkp_produto_view
df

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0